.vending__insert__btn {
  width: 120px;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 10px 20px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
