.vending__list {
  padding: 50px 0;
  width: 200px;
}

.vending__list:after {
  content: '';
  display: block;
  clear: both;
}

.vending__item {
  float: left;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

.beverage__item {
  display: block;
}

